.footer-container {
    align-items: center;
    background-color: var(--dark);
    color: var(--dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    text-align: center;
    z-index: 999;
}

body.darkmode .footer-container {
    background-color: var(--darkmode-dark);
    color: var(--darkmode-dark);
}

.footer-container .footer-inner {
    align-items: center;
    box-shadow: 0 0.5rem 0.8rem var(--darkmode-darkest);
    display: flex;
    justify-content: center;
    padding: 0.5rem 0 0.5rem 0;
    width: 100%;
}

body.darkmode .footer-container .footer-inner {
    box-shadow: 0 0.5rem 0.8rem var(--darkmode-darkest);
}

.social-media-wrap {
    align-content: center;
    align-items: center;
    display: flex;
    width: 60vw;
}

.social-icons {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 12rem;
}

/* Social Icons */
.footer-container .social-icon-link {
    color: var(--light);
    font-size: 1.2rem;
}

body.darkmode .footer-container .social-icon-link {
    color: var(--darkmode-light);
    font-size: 1.2rem;
}

.footer-container .social-icons a:hover{
    color: var(--darkest);
    transition: all 0.3s ease;
}

body.darkmode .footer-container .social-icons a:hover{
    color: var(--darkmode-darkest);
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .btn {
        width: 100%;
    }

    .social-media-wrap {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {}