.navbar {
    background: var(--dark-purple);
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 999;
    text-transform: lowercase;
    font-weight: bold;
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.navbar-monogram {
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 0.5rem;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: end;
}

.nav-item {
    height: 4rem;
}

.nav-links {
    color: var(--light-purple);
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
}

.nav-links:hover {
    background-color: var(--darkest);
    color: var(--light-purple);
    transition: all 0.3s ease;
}

.fa-bars {
    color: var(--light-purple);
}

.nav-links-sidebar {
    display: none;
}

.menu-icon {
    display: none;
}

.nav-icon {
    display: none;
}

@media screen and (max-width: 960px) {
    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 35%;
        height: 100vh;
        position: fixed;
        top: 4rem;
        right: -35%;
        opacity: 1;
        justify-content: start;
        overflow: hidden;
    }
    
    .nav-icon {
        display: inline;
        margin-left: 1rem;
        font-size: 1.2rem;
    }

    .nav-menu.active {
        background: var(--darkest);
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
        right: 0%;
    }

    .nav-links {
        text-align: right;
        padding: 2rem;
        width: 100%;
        display: table;
        transition: all 0.3s ease;
    }

    .nav-links:hover {
        background-color: var(--dark-purple);
        color: var(--light-purple);
        border-radius: 0;
        transition: all 0.3s ease;
    }

    .navbar-monogram {
        position: absolute;
        color: #fff;
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-left: 1rem;
        width: 1.5rem;
        height: 1.5rem;
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 1rem;
        margin-right: 1rem;
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-xmark {
        color: var(--light-purple);
        font-size: 2rem;
    }

    .fa-bars {
        color: var(--light-purple);
        font-size: 1.8rem;
    }
}